.formBody {
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: #C69B7B;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
  }
  
  .formBody h1 {
    text-align: center;
    color: #826F66;
    font-size: 29px;
  }
  
  .background {
    background: #F7CCAC;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color: #ffffff;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 95%;
    text-align: left;
    padding: 0.25rem;
  }
  .control .radio {
    display: flex;
    accent-color: #3A3845;
    justify-content: center;
    align-items: flex-end;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #3A3845;
    border: 1px solid #3A3845;
    border-radius: 4px;
    font-weight: 600;
    padding: 0.5rem 2.5rem;
    margin-bottom: 25px;
  }
  
  .actions button:hover {
    background-color: #826F66;
    border-color: #826F66;
  }
  

  @media (max-width: 400px) {
    .background {
       width: 395px;
       margin: 0 auto;
    }
  }